{% extends "cashmachine/base.html" %}

{% load staticfiles %}


{% block content %}
    <script src="{% static 'js/numpad.js' %}"></script>
    <script>
        NUMPAD_INPUT_ID = "{{ form.card_id.id_for_label }}"
        NUMPAD_SEPARATOR_INTERVAL = 4;
        NUMPAD_INPUT_MAX_LEN = 19;
    </script>

    <form action="/" method="post">
        {% csrf_token %}
        <div class="form-group" align="center">
            {{ form.card_id.label_tag }}
            {{ form.card_id }}
            <input type="submit" value="OK" class="btn btn-default"/>
        </div>
    </form>
    {% include "cashmachine/numpad.html" %}
{% endblock %}