{% extends "cashmachine/base.html" %}

{% load staticfiles %}

{% block navigation %}
    {% include "cashmachine/nav_logout.html" %}
    {% include "cashmachine/nav_back.html" %}
{% endblock %}

{% block content %}
    <script src="{% static 'js/numpad.js' %}"></script>
    <script>
        NUMPAD_INPUT_ID = "{{ form.amount.id_for_label }}"
        NUMPAD_INPUT_MAX_LEN = 19;
    </script>

    <form action="/operations/getcash/" method="post">
        {% csrf_token %}
        <div class="form-group" align="center">
            {{ form.amount.label_tag }}
            {{ form.amount }}
            <input type="submit" value="OK" class="btn btn-default"/>
        </div>
    </form>
    {% include "cashmachine/numpad.html" %}
{% endblock %}