<table class="auto" align="center">
    <tr>
        <td>
            <div class="btn btn-default" onclick="writeNumber(1);">1</div>
        </td>
        <td>
            <div class="btn btn-default" onclick="writeNumber(2);">2</div>
        </td>
        <td>
            <div class="btn btn-default" onclick="writeNumber(3);">3</div>
        </td>
        <td>
    </tr>
    <tr>
        <td>
            <div class="btn btn-default" onclick="writeNumber(4);">4</div>
        </td>
        <td>
            <div class="btn btn-default" onclick="writeNumber(5);">5</div>
        </td>
        <td>
            <div class="btn btn-default" onclick="writeNumber(6);">6</div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="btn btn-default" onclick="writeNumber(7);">7</div>
        </td>
        <td>
            <div class="btn btn-default" onclick="writeNumber(8);">8</div>
        </td>
        <td>
            <div class="btn btn-default" onclick="writeNumber(9);">9</div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="btn btn-default" onclick="writeNumber(0);">0</div>
        </td>
        <td style="text-align:center;word-wrap:break-word;" colspan="2">
            <div class="btn btn-default" onclick="clearNumbers();">Reset</div>
        </td>
    </tr>
</table>