{% extends "cashmachine/base.html" %}

{% load staticfiles %}

{% block navigation %}
    {% include "cashmachine/nav_logout.html" %}
{% endblock %}

{% block content %}
    <script src="{% static 'js/numpad.js' %}"></script>
    <script>
        NUMPAD_INPUT_ID = "{{ form.pin.id_for_label }}"
        NUMPAD_INPUT_MAX_LEN = 4;
    </script>

    <form action="/pin/" method="post">
        {% csrf_token %}
        <div class="form-group" align="center">
            {{ form.pin.label_tag }}
            {{ form.pin }}
            <input type="submit" value="OK" class="btn btn-default"/>
        </div>
    </form>
    {% include "cashmachine/numpad.html" %}
{% endblock %}